.pagination__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.pagination__icon--wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 40px;
}

.passive {
    opacity: 0.4;
}

.pagination__wrapper p {
    font-size: clamp(10px, 2.5vw, 16px);
    text-align: center;
}

.pagination__page-number {
    min-width: 30px;
}

.pagination__icon--wrapper svg {
    margin: 0 1rem;
    color: #444;
    height: 30px;
    width: 30px;
}

@media (min-width:375px) and (max-width:414px) {
    .pagination__wrapper p {
        margin: 0 10px;
    }

    .pagination__wrapper svg {
        height: 15px !important;
        width: 15px !important;
    }
}