@import url('./../../App.css');

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    color: #707070;
    min-height: 100vh;
    background: #F2F2F2;
    -webkit-animation: moveFromLeftFade 1s ease both;
    animation: moveFromLeftFade 1s ease both;

}

.container::before {
    content: '';
    position: absolute;
    left: 50vw;
    top: 0;
    height: 100vh;
    width: 1px;
    border-radius: 12px;
    background: #C7BEBE;
}


.wrapper {
    position: relative;
    max-width: 450px;
    width: 40vw;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.wrapper h2 {
    position: relative;
    font-size: clamp(18px, 1.7vw, 2.5vw);
    font-weight: 600;
    color: #707070;
}

.wrapper h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 1px;
    width: 100%;
    border-radius: 12px;
    background: #C7BEBE;
}

.wrapper form {
    margin-top: 30px;
}


form .policy__wrapper {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    justify-content: start;
}

.policy__wrapper h3 {
    font-size: clamp(10px, 1.7vw, 14px);
    margin: auto 0;
    margin-left: 6px;
    font-weight: bold;
    color: #707070;

}



.policy__wrapper input {
    height: 15px;
    width: 15px;
    margin: auto 0;
    min-width: 30px;
}



.wrapper button,
.imagePickerWrapper {
    margin-top: 1rem;
}

.wrapper button {
    width: 50%;
}

.forgot-password__wrapper {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
}

.forgot-password__wrapper a {
    color: #444;
    text-decoration: underline;
    cursor: pointer;
}

.forgot-password__wrapper a:hover {
    scale: 1.2;
}

.forgot-password__wrapper button {
    color: #444;
    text-decoration: underline;
    cursor: pointer;
    width: 50%;
}

.forgot-password__wrapper p,
.forgot-password__wrapper a {
    font-size: clamp(12px, 1.7vw, 14px);
}

@media (min-width:320px) and (max-width:767px) {
    .container {
        grid-template-columns: 1fr;
    }

    .wrapper {
        width: 80vw;
        margin: 2rem auto;
    }

    form button {
        font-size: 10px;
        width: 120px;
        height: 30px;
    }
}


@media (max-width: 767px) {
    .container::before {
        display: none;
    }
}