@import url('./../../App.css');


.password__container {
    -webkit-animation: scaleUp .7s ease both;
    animation: scaleUp .7s ease both;

}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}