@import url('./../../App.css');

.contact-form__container {
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 30px repeat(3, 50px) 200px;
    margin: 2rem auto;
    -webkit-animation: scaleUp .7s ease both;
    animation: scaleUp .7s ease both;

}

.contact-form__container h1 {
    font-size: clamp(12px, 2vw, 2.5vw);
}

.buttons__wrapper {
    display: flex;
    margin-bottom: 3rem;
}


@media (min-width: 375px) and (max-width:834px) {
    .contact-form__container {
        grid-template-columns: 80vw;
    }
}

@media (min-width: 375px) and (max-width:413px) {}

.logo {
    height: 100px;
    width: 100px;
    background-color: #8FC1B5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #E2D8D7;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px;
}

.logo h1 {
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
}