.layout__container {
    min-height: 100vh;
    background-color: #E2D8D7;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px 1fr min(270px);
}

@media(min-width: 375px)and (max-width: 413px) {
    .layout__container {
        grid-template-rows: 70px 1fr min(450px);
    }
}
@media (min-width: 414px) and (max-width:767px) {
    .layout__container {
        grid-template-rows: 70px 1fr min(450px);
    }
}
