.sidebar__container {
    position: fixed;
    width: 190px;
    min-height: 100%;
    background: var(--primary-background);
    overflow-x: hidden;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    border-right: 4px solid #c4c4c4;
    z-index: 0;

}

.sidebar__item {
    width: 100%;
    list-style: none;
    padding: 0 10px;
}


.sidebar__item-link:hover {
    scale: 1.2
}

.active {
    background-color: #444;
}

.active .sidebar__item-link {
    color: #fff;
}

/* ------------- to prevent a global styles ------------- */
.sidebar__item-link {
    box-shadow: none;
    border: none;
    background: none;
    border-radius: none;
}


.sidebar__item:first-child:hover {
    background: none;
    color: none;
}

.sidebar__item-link:first-child:hover {
    color: none;
}

.sidebar__item:first-child {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-bottom: 4px solid #c4c4c4;

}

.sidebar__item-link {
    width: 100%;
    text-decoration: none;
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #444;
    /* border: 1px solid red; */
}

ul li a i {
    text-align: center;
    margin: 10px;
}

.icon__box {
    min-width: 35px;
}

.sidebar__logo {
    height: 45px;
    width: 45px;
    position: relative;
    margin-right: 6px;

}

.sidebar__logo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.icon__box-title {
    padding: 0 10px;
    font-size: 14px;
    flex: 2;
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width:834px) {
    .sidebar__container {
        width: 60px !important;
    }

    .link__home {
        display: none;
    }

    .sidebar__item-link i {
        min-width: 60px;
        font-size: 44px;
        text-align: center;
    }

    .icon__box-title {
        display: none;
    }

}

@media (min-width: 768px) and (max-width:834px) {
    .sidebar__logo {
        height: 40px;
        width: 40px;
        margin-right: 0px;

    }
}

@media (min-width: 414px) and (max-width:767px) {
    .sidebar__logo {
        height: 38px;
        width: 38px;
        margin-right: 0px;

    }
}

@media(min-width: 375px)and (max-width: 413px) {
    .sidebar__container {
        width: 30px !important;
    }

    .sidebar__item-link i {
        max-width: 15px;
        font-size: 18px;
        text-align: center;
    }

    .sidebar__logo {
        height: 25px;
        width: 25px;
        margin-right: 0px;

    }

    .icon__box {
        min-width: 10px !important;
        display: flex;
        margin-left: 3px;

    }

    .sidebar__item {
        padding: 0;

    }

}