.globalLink a,
.globalLink button {
    margin: 1rem;
}

globalLink a:hover,
.globalLink button:hover {
    color: #fff;
    background-color: #444;
}

@media (max-width: 930px) {

    .globalLink a,
    .globalLink button {
        width: 150px;
    }
}