@import url('./../App.css');

.contact-form__container {
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 30px repeat(3, 50px) 200px;
    margin: 2rem auto;
    -webkit-animation: scaleUp .7s ease both;
    animation: scaleUp .7s ease both;

}

.contact-form__container h1 {
    font-size: clamp(12px, 2vw, 2.5vw);
}

.buttons__wrapper {
    display: flex;
    margin-bottom: 3rem;
}


@media (min-width: 375px) and (max-width:834px) {
    .contact-form__container {
        grid-template-columns: 80vw;
    }
}

@media (min-width: 375px) and (max-width:413px) {}