.wrapper {
    min-height: 100vh;
}

.container {
    background-color: rgba(255, 253, 253, 0.3);
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px;
}

.body {
    grid-template-rows: 70px max(62.5vw) max(7vw) 1fr max(7vw) 1fr min(350px);
}

.section1 {
    background-image: url("https://images.pexels.com/photos/4226769/pexels-photo-4226769.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4226769.jpg&fm=jpg");
    background-size: cover;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    max-height: 62.5vw;
    position: relative;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem auto;
    cursor: pointer;

}

.section2 span {
    text-decoration: underline;
}

.section4 {
    background-color: #E3D8DC;
    height: 100%;
}

.section4 h1 {
    height: 30px;
    width: 100%;
    text-align: center;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 1rem;
}

.carousel .card {
    width: 25vw;
    height: 40vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.card .picture {
    position: relative;
    height: 35vw;
    width: 20vw;
}

.card h3,
.card h2 {
    padding-top: 3px;

}

.picture img {
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.active {
    scale: 1.2
}

.galeria {
    display: flex;
    align-items: center;
    height: 100%;
}

.images {
    background-color: #E3D8DC;
    display: grid;
    grid-template-areas:
        "  one one three three four four"
        " two two three three four four"
        " two two three three five five";
    grid-template-rows: repeat(3, 15vw);
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    gap: 0.5rem;
    position: relative;
    margin: auto 0;
}


.image img {
    padding: 10px;
    transition: all ease-in-out 1s;
    opacity: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.description {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 42.3vw;
    background-color: transparent;
    height: 40%;
    grid-column: 2;
    position: absolute;
    top: calc(62.5vw - 31vw);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px;
    transition: background-image, scale 2s ease-out 4ms;
}

.description> :nth-child(2) h1,
.section2 h1,
.section4 h1 {
    font-size: 2vw;
}

.description> :nth-child(2) p {
    font-size: 1.2vw;
}

.description :first-child {
    grid-column: 1;

}

.description :nth-child(2) {
    background-color: #E2D8D7;
    grid-column: 2;
    padding: 6px;

}

.description::after {
    content: '';
    background: #444;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -20px;
    transform: translateX(-50%);
    margin: 10px;
    height: 15px;
    width: 15px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
    cursor: pointer;

}

.description:hover {
    scale: 1.2;
    cursor: pointer;
    background-color: #E3D8DC;
    opacity: 1;
    background-image: url('./../../public/heart.jpeg');
    background-position: 35vw;
    background-size: cover;
    object-fit: cover;
}

.navbar {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #f3f0ef;
    font-size: 16px;
    color: #444;
}

.navbar a {
    color: #444;
}

.navbar a:hover {
    text-decoration: underline;
    cursor: pointer;
    scale: 1.2;

}

.login {
    position: relative;
}

.navbar :last-child::after {
    content: '';
    background: #444;
    border-radius: 50%;
    position: absolute;
    left: -35px;
    top: -8px;
    transform: translateX(-50%);
    margin: 10px;
    height: 15px;
    width: 15px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
    cursor: pointer;
}


.one,
.two,
.three,
.four,
.five {
    object-fit: cover;
    height: 100%;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.footer {
    background-color: #444;
}

.subscribe {
    /* border: 1px solid red; */
    width: 40vw;
    position: absolute;
    top: -21px;
    left: 50vw;
    transform: translateX(-50%) !important;
    position: relative;
}

.subscribe input {
    width: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 12px;
    min-width: 0%;
    max-width: 40vw;
    outline: none;
    margin-top: 0;

}

.subscribe button {
    width: 10vw;
    height: 30px;
    position: absolute;
    right: 6px;
    top: 5px;
    background-color: #E2D8D7;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.links h1,
.links ul li,
.links p,
.links a,
.partners a,
.partners ul li {
    color: #E2D8D7;
    margin-bottom: 4px;
}

.links ul li,
.partners ul li {
    cursor: pointer;
}

.links ul li:hover,
.partners ul li:hover,
.partners a:hover {
    scale: 1.1;
    text-decoration: underline;
}

.links ul li {
    list-style: none;

}

.partners ul li {
    list-style: disc;
    margin-left: 2rem;
}

.box {
    border-left: 1px solid #E2D8D7;
    padding-left: 10px;
}

.partners {
    margin-top: 1rem;
    border-top: 1px solid #E2D8D7;
    border-bottom: 1px solid #E2D8D7;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5vw;
    padding-right: 5vw;
    height: 5vh;
    padding-left: 4rem;
}

.partners div {
    display: flex;
    align-items: center;
}

.partners p {
    color: #E2D8D7;
    font-size: 16px;
    padding-bottom: 6px;
}

.partners ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}



/* Mobile view */
@media (min-width: 768px) and (max-width:834px) {
    .description> :nth-child(2) p {
        font-size: 1.1vw;
    }

    .card h2,
    .card h3 {
        font-size: 12px;
    }

    .images img {
        margin: 5px;
    }

    .three {
        padding-top: 20px;
    }
}

@media (min-width: 414px) and (max-width:767px) {
    .body {
        grid-template-rows: 70px max(62.5vw) max(7vw) 1fr max(7vw) 1fr min(450px);
    }

    .description> :nth-child(2) h1 {
        font-size: 1.4vw;
    }

    .description> :nth-child(2) p {
        font-size: 1.1vw;
        padding: 2px;
    }

    .card h2,
    .card h3 {
        font-size: 10px;
    }

    .subscribe button {
        width: 8vw;
        font-size: 8px;
    }

    .subscribe input {
        font-size: 6px;
    }

    .partners {
        margin-top: 2rem;
        height: 100px;
        padding-left: 2rem;
        font-size: 12px
    }

    .partners div {
        justify-content: start;
    }

    .partners ul {
        flex-direction: column;
    }

    .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 12px;
        padding-left: 10vw;
        gap: 1rem;
    }

    .carousel .card {
        height: 45vw;
        padding: 0.5rem;
    }

    .subscribe input {
        font-size: 6px;

    }

    .subscribe button {
        font-size: 8px;
    }

    .images img {
        margin: 5px;
    }

    .three {
        padding-top: 20px;
    }

    .navbar :last-child::after {
        left: 3px;
        top: 10px;
        margin: 5px;
        height: 8px;
        width: 8px;
    }

}

@media(min-width: 375px)and (max-width: 413px) {
    .body {
        grid-template-rows: 70px max(62.5vw) max(7vw) 1fr max(7vw) 1fr min(450px);
    }

    .navbar {
        padding: 0 0.5rem;
    }

    .subscribe button {
        width: 8vw;
        font-size: 8px;
    }

    .subscribe input {
        font-size: 6px;
    }

    .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 12px;
        padding-left: 10vw;
        gap: 1rem;
    }

    .partners {
        margin-top: 2rem;
        height: 100px;
        padding-left: 2rem;
        font-size: 12px
    }

    .partners div {
        justify-content: start;
    }

    .partners ul {
        flex-direction: column;
    }

    .card h2,
    .card h3 {
        font-size: 10px;
    }

    .carousel .card {
        height: 45vw;
        padding: 0.5rem;
    }

    .navbar :last-child::after {
        left: 3px;
        top: 10px;
        margin: 5px;
        height: 8px;
        width: 8px;
    }

    .description> :nth-child(2) h1 {
        font-size: 1.5vw;
    }

    .description> :nth-child(2) p {
        font-size: 1.1vw;
        padding: 2px;
    }

    .galeria {
        height: max-content;
    }

    .images img {
        margin: 5px auto;
    }

    .three {
        padding-top: 10px;
    }

    .one,
    .two,
    .three,
    .four {
        object-fit: cover;
        height: 90%;
    }

    .five {
        height: 80%;
    }

    .images {
        gap: 0.5rem;
    }
}


@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}