.wrapper {
    min-height: 100vh;
    background-color: #E3D8DC;
}

.container {
    background-color: rgba(255, 253, 253, 0.3);
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px;
}

.container--body {
    grid-template-rows: 70px max(62.5vw) max(7vw) 1fr max(7vw) 1fr min(250px);
}

.navbar {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #f3f0ef;
    color: #444;
}

.navbar__link {
    color: #444;
    font-size: clamp(1.6vw, 1.8vw, 2.2vw);
}

.navbar__link:hover {
    text-decoration: underline;
    cursor: pointer;
    scale: 1.2;
}

.navbar__link--login {
    position: relative;
}

.navbar__link--login::after {
    content: '';
    background: #444;
    border-radius: 50%;
    position: absolute;
    left: -35px;
    top: -8px;
    transform: translateX(-50%);
    margin: 10px;
    height: 15px;
    width: 15px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
    cursor: pointer;
}


.container--section1 {
    background-image: url("https://images.pexels.com/photos/4226769/pexels-photo-4226769.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4226769.jpg&fm=jpg");
    background-size: cover;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    max-height: 62.5vw;
    position: relative;
}

.description {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 42.3vw;
    background-color: transparent;
    height: 45%;
    grid-column: 2;
    position: absolute;
    top: calc(62.5vw - 33vw);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px;
    transition: background-image, scale 2s ease-out 4ms;
}

.description__item--one {
    grid-column: 1;

}

.description__item--two {
    background-color: #E2D8D7;
    grid-column: 2;
    padding: 4px;

}

.description::after {
    content: '';
    background: #444;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -20px;
    transform: translateX(-50%);
    margin: 10px;
    height: 15px;
    width: 15px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
    cursor: pointer;

}

.description:hover {
    scale: 1.2;
    cursor: pointer;
    background-color: #E3D8DC;
    opacity: 1;
    background-image: url('./../../public/heart.jpeg');
    background-position: 35vw;
    background-size: cover;
    object-fit: cover;
}

.description__title {
    font-size: clamp(8px, 1.7vw, 2.5vw);
}

.description__text {
    font-size: clamp(6px, 1.4vw, 2vw);
    padding: 4px;

}

.container--section2,
.container--section3 {
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;

}

.container--section2 {
    grid-template-columns: 1fr 1fr;
}

.section2__title--underline {
    text-decoration: underline;
    justify-self: start;
}

.section2__title {
    justify-self: end;
    margin-right: 6px;
}

.section2__title--underline:hover {
    scale: 1.2
}

.section2__title,
.section3__title,
.section2__title--underline {
    font-size: clamp(12px, 2vw, 2.5vw);
}

.galeria__images {
    display: grid;
    grid-template-areas:
        "  one one three three four four"
        " two two three three four four"
        " two two three three five five";
    grid-template-rows: repeat(3, 15vw);
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
    position: relative;
    padding: 5px;
}

.galeria__image {
    transition: all ease-in-out 1s;
}

.galeria__image--one,
.galeria__image--two,
.galeria__image--three,
.galeria__image--four,
.galeria__image--five {
    object-fit: cover;
    height: 100%;
}

.galeria__image--one {
    grid-area: one;
}

.galeria__image--two {
    grid-area: two;
}

.galeria__image--three {
    grid-area: three;
}

.galeria__image--four {
    grid-area: four;
}

.galeria__image--five {
    grid-area: five;
}

.galeria__image--fade {
    animation-name: fade;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/* ---------------------- SECTION 4 ---------------------- */
.container--section4 {
    background-color: #E3D8DC;
}

.section4--carousel {
    display: flex;
    margin-bottom: 1rem;
}

.carousel__card {
    width: 25vw;
    height: 40vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.carousel__info {
    margin-top: 6px;
}

.carousel__picture {
    position: relative;
    height: 35vw;
    width: 20vw;
    margin: 0 auto;
}

.carousel__picture img {
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.carousel__doctorName,
.carousel__doctorDepartment {
    font-size: clamp(8px, 1.5vw, 2.5vw);
}

.active {
    scale: 1.2
}


/* ----------------------- FOOTER ----------------------- */

.container--footer {
    background-color: #444;
}

.footer__subscribe {
    width: 40vw;
    position: absolute;
    top: -21px;
    left: 50vw;
    transform: translateX(-50%) !important;
    position: relative;
}

.footer__input {
    width: 100%;
    padding-left: clamp(4px, 6px, 10px);
    outline: none;
    border: none;
    border-radius: 50px;
    min-width: 0%;
    max-width: 40vw;
    outline: none;
    margin-top: 0;
    font-size: clamp(7px, 1.4vw, 12px);
}

.footer__input:hover {
    border-bottom: none;
}

.footer__button {
    width: 10vw;
    height: 30px;
    position: absolute;
    right: 7px;
    top: 4px;
    background-color: #E2D8D7;
    font-size: clamp(7px, 1.4vw, 12px);
    padding: 0 25px;
    height: 30px;
}

.footer__title {
    font-size: clamp(10px, 5vw, 16px);
}

.footer__text,
.footer__item,
.footer__partner,
.footer__link {
    font-size: clamp(12px, 2vw, 14px);
}


.footer__item,
.footer__text,
.footer__partnersTitle {
    color: #E2D8D7;
}

.footer__partnersList {
    display: flex;
    align-items: center;
}

.footer__partnersItems {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.footer__links {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.footer__title,
.footer__item,
.footer__text,
.footer__link,
.footer__partner,
.footer__title {
    color: #E2D8D7;
    margin-bottom: 4px;
}

.footer__links,
.footer__partner {
    cursor: pointer;
}

.footer__item:hover,
.footer__partner:hover,
.footer__link:hover {
    scale: 1.1;
    text-decoration: underline;
}

.footer__item {
    list-style: none;

}

.footer__partner {
    list-style: disc;
    margin-left: 2rem;
}

.footer__box {
    border-left: 1px solid #E2D8D7;
    padding-left: 10px;
}

.footer__partners {
    margin-top: 1rem;
    border-top: 1px solid #E2D8D7;
    border-bottom: 1px solid #E2D8D7;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5vw;
    padding-right: 5vw;
    height: 5vh;
    padding-left: 4rem;
}

/* Mobile view */
@media (min-width: 768px) and (max-width:834px) {
    .galeria__image--three {
        padding-top: 20px;
    }

    .description__text {
        padding: 2px;
    }

}

@media (min-width: 414px) and (max-width:767px) {
    .container--body {
        grid-template-rows: 70px max(62.5vw) max(7vw) 1fr max(7vw) 1fr min(450px);
    }

    .description {
        width: 44vw;
        height: 47%;
        grid-template-columns: 2fr 1.5fr;
    }

    .description__text {
        padding: 2px;

    }

    .footer__partners {
        margin-top: 2rem;
        padding: 20px 0;
        height: 100px;
        padding-left: 2rem;
    }

    .footer__partnersList {
        justify-content: start;
    }

    .footer__partnersItems {
        flex-direction: column;
    }

    .footer__links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 10vw;
        gap: 1rem;
    }

    .carousel__card {
        height: 45vw;
        padding: 0.5rem;
    }

    .galeria__image--three {
        padding-top: 20px;
    }

    .navbar__link--login::after {
        left: -16px;
        top: -3px;
        margin: 5px;
        height: 8px;
        width: 8px;
    }

}

@media(min-width: 375px)and (max-width: 413px) {
    .container--body {
        grid-template-rows: 70px max(62.5vw) max(7vw) 1fr max(7vw) 1fr min(450px);
    }

    .description {
        width: 44vw;
        height: 47%;
        grid-template-columns: 2fr 1.5fr;
    }

    .description__text {
        font-size: 6px;
        padding: 2px;
    }

    .navbar__link--login::after {
        left: -16px;
        top: -3px;
        margin: 5px;
        height: 8px;
        width: 8px;
    }

    .footer__links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 10vw;
        gap: 1rem;
    }

    .footer__partners {
        margin-top: 2rem;
        height: 100px;
        padding-left: 2rem;
    }

    .footer__partnersList {
        justify-content: start;
    }

    .footer__partnersItems {
        flex-direction: column;
    }

    .carousel__card {
        height: 45vw;
        padding: 0.5rem;
    }

    .galeria__image--three {
        padding-top: 10px;
    }

    .galeria__image--one,
    .galeria__image--two,
    .galeria__image--three,
    .galeria__image--four {
        object-fit: cover;
        height: 90%;
    }

    .galeria__image--five {
        height: 80%;
    }


}


@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}