.booking__container {
    height: 95%;
    width: 95%;
    background: #F0F1F2;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.booking__container-title {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}

.booking__container-title::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: -10px;
    left: 0;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 23%, rgba(173, 217, 209, 1) 91%);
}

.booking__container-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.booking__container-reason {
    grid-column: span 2;
}

.booking__container-select {
    font-size: 12px;
}