.container {
    height: 95%;
    width: 95%;
    background: #F0F1F2;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.title {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: -10px;
    left: 0;
    border-radius: 5px;
    /* background: rgba(173, 217, 209, 1) */
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 23%, rgba(173, 217, 209, 1) 91%);
}

.container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}

.inputBox {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
}

.container input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    outline: none;
    font-size: 16px;
    border: none;
}

.underline::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #ccc;
    left: 0;
    bottom: 0;
}

.underline::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 23%, rgba(173, 217, 209, 1) 91%);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s ease;
}

input:focus~.underline::after,
input:valid~.underline::after {
    transform: scaleX(1);
    transform-origin: left;
}

.button {
    margin: 40px 0 20px 0;
}

input[type="submit"] {
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 23%, rgba(173, 217, 209, 1) 91%);
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    letter-spacing: 2px;
}