:root {
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    padding: 1rem;
    font-family: var(--font-family);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}

.available {
    background-color: #45C4B0;
    font-size: 1.1rem;
}

.available:hover {
    color: #fff;
    background-color: #444;
}

.past {
    pointer-events: none;
}

.past {
    background-color: var(--completed-background);
    text-decoration: line-through;
    cursor: default;
}

.booked {
    font-size: 1.3rem;
    background-color: var(--completed-background);
    cursor: default;
}


th {
    background-color: #f2f2f2;
}