@import url('./../../App.css');

.doctor__details--wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    margin-top: 2rem;

}

.doctorInfo {
    margin-top: 2rem;
}

.doctorInfo p {
    font-size: 20px;
    margin-bottom: 1rem;
    color: #444;
    text-align: center;
    background-color: transparent;
    text-align: start;
}

.review__section--wrapper {
    margin-top: 2rem;
    grid-column: span 2;
    display: grid;
    grid-template-rows: 60px min(30vh) 120px;
    -webkit-animation: scaleUp .7s ease both;
    animation: scaleUp .7s ease both;
}

.reviews__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-auto-columns: auto;
    gap: 1rem;
    align-items: center;
    -webkit-animation: scaleUp .7s ease both;
    animation: scaleUp .7s ease both;
}

.review__container {
    width: 280px;
    margin: 0 auto;
    gap: 10px;
    padding: 25px;
    color: #444;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.no__reviews-text {
    margin: 0 auto;
    text-align: center;
    color: #444;
}

.commenter {
    display: grid;
    grid-template-columns: 50px 50px;
    gap: 1rem;
    align-items: center;
    justify-content: center;


}

.commenter__image img {
    height: 40px;
    width: 40px;
    position: relative;
    border-radius: 50%;

}

.review__container--commenter {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}

.commenter h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    height: 30px;
    width: 30px;
    background: rgba(173, 217, 209, 1);
    box-shadow: 0 1px 1px hsl(0deg 0% 0%/0.075), 0 2px 2px hsl(0deg 0% 0%/0.075),
        0 4px 4px hsl(0deg 0% 0%/0.075), 0 8px 8px hsl(0deg 0% 0%/0.075),
        0 16px 16px hsl(0deg 0% 0%/0.075), inset 0 0 10px #f7db5e, 0 0 10px #f7db5e;

}

.review__container--commenter h3 {
    text-decoration: underline;
    margin-bottom: 2px;
}

.review__container--commenter p {
    font-size: 12px;
}

.review__section--wrapper h3 {
    text-align: center;
}


@media (min-width:414px) and (max-width:767px) {
    .review__section--wrapper {
        grid-template-columns: calc(100vw - 60px);
    }
}

@media (min-width:375px) and (max-width:834px) {
    .review__section--wrapper {
        display: grid;
        grid-template-columns: calc(100vw - 30px);
        grid-template-rows: auto auto 1fr;
    }

    .reviews__wrapper {
        justify-content: center;
    }
}