:root {
    --surface-color: rgba(173, 217, 209, 1);
    --card-background-color: #F0F1F2;
    --border-color: #D9D9D9;
}


.footer {
    position: absolute;
    height: 200px;
    border-top: 1px solid var(--border-color);
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--surface-color);
    color: white;
    text-align: center;
    margin-top: 300px;
}