.footer {
    /* border: 1px solid red; */
    height: 200px;
    border-top: 4px solid #c4c4c4;
    width: 100%;
    background-color: var(--primary-background);
    text-align: center;
    grid-column: 1 / span 2;
    z-index: 10;
    margin-top: 10px;

}