@import url('./../../App.css');

.profil__container {
    -webkit-animation: scaleUp .7s ease both;
    animation: scaleUp .7s ease both;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 1rem;
}

.wrapper__buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}


hr {
    margin-bottom: 2rem;
    margin-top: 16px;
}

.wrapper__address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


@media (min-width:375px) and (max-width:767px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        font-size: 10px;
    }

    .wrapper__address {
        display: grid;
        grid-template-columns: 1fr
    }

}