.container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.infoWrapper {}

.imageWrapper {
    position: relative;
    height: 50px;
    width: 50px;
}


.buttonWrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    grid-column: span 2;

}