:root {
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --sub-pages-backgroundColour: #f3f0ef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    overflow-x: hidden;
}

h1,
h3,
h2 {
    color: #444;
}

.active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 100;
}

.inactive {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    z-index: 10;
}