:root {
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --sub-pages-backgroundColour: #f3f0ef;
}


* {
    --completed-background: rgba(252, 106, 83, 0.6);
    --active-background: rgba(75, 191, 82, 0.5);
    --primary-background: rgba(173, 217, 209, 1);
    --primary-textcolor: #444;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    overflow-x: hidden;
}

h1,
h3,
h2 {
    color: #444;
}

/* applies all buttons */
button {
    text-decoration: none;
    font-size: 18px;
    color: #444;
    width: 200px;
    height: 40px;
    background: rgba(173, 217, 209, 1);
    padding: 5px 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 28px;
    cursor: pointer;
    margin: 0 auto;
}

button:hover {
    color: #fff;
    background-color: #444;
}

.active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 100;
}

.inactive {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    z-index: 10;
}

