@import url('./../../App.css');

* {
    --color_1: #70CFDE;
    --color_2: #CADE70;
    --color_3: #FFCB9A;
    --color_4: #F0788C;
    --color_5: #45C4B0;
}

.container {
    display: grid;
    grid-template-columns: 150px 1fr;
    color: #444;
    -webkit-animation: scaleUp .7s ease both;
    animation: scaleUp .7s ease both;

}


.dashboard-left-section {
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    gap: 1rem;
    align-items: center;
    position: relative;
}

.dashboard-left-section__image-wrapper img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}

.dashboard-left-section__welcome {
    font-size: clamp(12px, 2.5vw, 20px);
    text-align: center;

}

.dashboard-right-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;

}

.dashboard-right-section__top {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

}

.dashboard-right-section__top--wrapper {
    height: 90%;
    width: 80%;
    max-width: 400px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
    line-height: 1.2rem;
    font-size: clamp(9px, 1.8vw, 20px);
    margin: 0 auto;
}

.dashboard-right-section__top--wrapper--total-visits {
    border: 3px solid var(--color_1)
}

.dashboard-right-section__top--wrapper--upcoming-visits {
    border: 3px solid var(--color_2)
}

.dashboard-right-section__top--wrapper--total-doctors {
    border: 3px solid var(--color_3)
}



.icons {
    height: 20px;
    width: 20px;
    position: relative;
}

.dashboard-right-section__bottom {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    margin: 0 10px;
    height: max-content;
}

.dashboard-right-section__bottom-appointments {
    margin: 0 auto;
    width: calc(100vw - 186px - 150px - 34px);

}

.right-section__bottom-appointments-title h5 {
    margin-top: 1rem;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    font-size: clamp(16px, 2.8vw, 20px);
}



.close {
    border: 3px solid var(--color_4);
    text-decoration: line-through;
}

.open {
    border: 3px solid var(--color_5);
}

.dashboard-right-section__top--icons--stethoscope {
    color: var(--color_2);
}

.dashboard-right-section__top--icons--total-visit {
    color: var(--color_1);

}

.dashboard-right-section__top--icons--total-doctor {
    color: var(--color_3);

}

.buttons--container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gap--line {
    height: 5px;
}

/* ------------------------------------------------------ */
/*                          Table                         */
/* ------------------------------------------------------ */
@media (min-width:1700px) {
    table {
        max-width: 1500px;
    }
}

table {
    margin: 0 auto;
    border: 6px solid #c4c4c4 !important;
    width: calc(100vw - 186px - 150px - 50px);
}


thead tr th {
    font-weight: 600;
    cursor: default;
}

.row.row--active {
    background: var(--active-background);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.row {
    background: var(--completed-background);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    text-decoration: line-through;
}



.gap--line {
    border-bottom: 3px solid rgba(0, 0, 0, 0.2)
}

tbody table tr:last-child {
    border-bottom: none;
}

.dashboard-right-section__bottom-appointments td {
    text-align: left;
}

.dashboard-right-section__bottom-appointments tr:last-child,
.dashboard-right-section__bottom-appointments tr:nth-child(7) {
    text-align: center;
}

.icons--edit {
    padding: 5px;
    color: #fff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-left: 10px;
    background: #4BB2F2;
    cursor: pointer;
}

.buttons--container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dashboard-right-section__bottom td,
.dashboard-right-section__bottom th {
    font-size: clamp(10px, 1.7vw, 16px);
    padding: clamp(2px, 6px, 10px);
}

@media (min-width:835px) {
    .container {
        min-height: 100vh;
    }
}


@media (min-width:835px) and (max-width:930px) {

    .dashboard-right-section__bottom td,
    .dashboard-right-section__bottom th {
        padding: 2px;
    }
}


@media (min-width:835px) {
    .dashboard-right-section__top {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px 50px;
    }

    .dashboard-right-section {
        grid-template-rows: 210px 1fr;
    }

    .dashboard-right-section__bottom {
        max-width: calc(100vw - 330px);
    }

    table {
        border: 3px solid #c4c4c4 !important;
    }

}

@media (min-width:768px) and (max-width:834px) {
    .container {
        grid-template-columns: 1fr;
    }

    .dashboard-left-section {
        grid-template-columns: calc(100vw - 60px);
        grid-template-rows: 170px 1fr;
        align-items: center;
    }

    .dashboard-right-section__top {
        height: 70px;
    }

    .dashboard-right-section__bottom-appointments {
        width: calc(100vw - 56px - 30px);
    }

    table {
        margin: 0 auto;
        width: calc(100vw - 100px) !important;
        border: 3px solid #c4c4c4 !important;
    }

}


@media (min-width:414px) and (max-width:767px) {
    .container {
        grid-template-columns: 1fr;
    }

    .dashboard-left-section {
        grid-template-columns: calc(100vw - 90px);
        grid-template-rows: 40px 1fr;
        align-items: center;
        gap: 0;
    }

    .dashboard-right-section {
        grid-template-rows: 180px 1fr;
    }

    .dashboard-left-section__image-wrapper {
        display: none;
    }

    .dashboard-right-section__top {
        grid-template-columns: 1fr;
        grid-template-rows: 40px 40px 40px;

    }

    .dashboard-right-section__box {
        height: 70%;
        width: 40%;
        text-align: center;
    }

    .dashboard-right-section__box--total-visits {
        border: 1px solid var(--color_1)
    }

    .dashboard-right-section__box--upcoming-visits {
        border: 1px solid var(--color_2)
    }

    .dashboard-right-section__box--total-doctors {
        border: 1px solid var(--color_3)
    }


    .dashboard-right-section__bottom {
        width: calc(100vw - 82px);
    }

    .dashboard-right-section__bottom-appointments {
        width: calc(100vw - 56px - 30px);
        padding: 5px;
    }

    table {
        margin: 0 auto;
        width: calc(100vw - 100px) !important;
        border: 3px solid #c4c4c4 !important;
    }

    .dashboard-right-section__bottom-appointments hr {
        margin-bottom: 10px;
    }

}

@media (min-width:375px) and (max-width:413px) {
    .container {
        grid-template-columns: 1fr;
    }

    .dashboard-left-section {
        grid-template-columns: calc(100vw - 40px);
        grid-template-rows: 30px 1fr;
        align-items: center;
        gap: 0;
    }

    .dashboard-left-section__image-wrapper {
        display: none;
    }

    .dashboard-right-section {
        grid-template-rows: 150px 1fr;

    }

    .dashboard-right-section__top {
        grid-template-columns: calc(100vw - 40px);
        grid-template-rows: 40px 40px 40px;

    }

    .dashboard-right-section__box {
        height: 70%;
        width: 40%;
        text-align: center;

    }

    .dashboard-right-section__box--total-visits {
        border: 1px solid var(--color_1)
    }

    .dashboard-right-section__box--upcoming-visits {
        border: 1px solid var(--color_2)
    }

    .dashboard-right-section__box--total-doctors {
        border: 1px solid var(--color_3)
    }

    .dashboard-right-section__bottom {
        width: calc(100vw - 52px);
    }

    .dashboard-right-section__bottom-appointments {
        width: calc(100vw - 50px);
    }

    table {
        border: 3px solid #c4c4c4 !important;
        width: calc(100vw - 70px);
    }

    .dashboard-right-section__bottom-appointments hr {
        margin-bottom: 10px;
    }
}

