.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 3rem;
    background-color: #EDE8DB;
}

.userLeftSection {
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    gap: 1rem;
    align-items: center;

}

.userLeftSection .image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;

}

.userLeftSection .image img {
    height: 100%;
    width: 100%;
}

.userLeftSection .wrapper p {
    font-size: 20px;
    margin: 2rem auto;
    text-align: center;
}