* {
    --color_1: #70CFDE;
    --color_2: #CADE70;
    --color_3: #FFCB9A;
    --color_4: #F0788C;
    --color_5: #45C4B0;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 3rem;
    color: #444;
}

.userLeftSection {
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 1fr;
    gap: 1rem;
    align-items: center;

}

.userLeftSection .image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;

}

.userLeftSection .image img {
    height: 100%;
    width: 100%;
}

.userLeftSection .wrapper p {
    font-size: 20px;
    margin: 2rem auto;
    text-align: center;
}

.userRightSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
}

.userRightSection .rightTop {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    gap: 3rem;
}


.userRightSection .rightTop .box {
    margin-top: 2rem;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    line-height: 1.2rem;
    font-weight: 800;
    font-size: 1.2rem;

}

.userRightSection .rightTop .box1 {
    border: 3px solid var(--color_1)
}

.userRightSection .rightTop .box2 {
    border: 3px solid var(--color_2)
}

.userRightSection .rightTop .box3 {
    border: 3px solid var(--color_3)
}

svg {
    height: 40px;
    width: 40px;
    position: relative;

}

.userRightSection .rightBottom {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    margin: 2rem;
}

.userRightSection .rightBottom .appointments {
    padding: 2rem;
}

.appointments h2 {
    margin-bottom: 2rem;

}

.appointments .wrapper1 {
    display: flex;
    justify-content: space-between;
}


.close {
    border: 3px solid var(--color_4);
    text-decoration: line-through;
}

.open {
    border: 3px solid var(--color_5);
}

.icons.stethoscope {
    height: 40px;
    width: 40px;
    color: var(--color_2);

}

.icons.totalVisit {
    height: 40px;
    width: 40px;
    color: var(--color_1);

}

.icons.totalDoctor {
    height: 40px;
    width: 40px;
    color: var(--color_3);

}

.buttonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gapLine {
    height: 5px;
}

/* ------------------------------------------------------ */
/*                          Table                         */
/* ------------------------------------------------------ */
table.appointments {
    width: 95%;
    table-layout: auto;
    border-collapse: collapse;
    margin: 0 auto;



}

thead tr th {
    font-weight: 600;
    cursor: default;
}


.row.active {
    background: var(--active-background);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.row {
    background: var(--completed-background);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    text-decoration: line-through;

}

.appointments tr {
    background: var(--completed-background);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);

}

tbody table tr:last-child {
    border-bottom: none;
}

.appointments td {
    text-align: left;
}

.appointments td:last-child,
.appointments td:nth-child(4) {
    text-align: center;
}


td .icons {
    padding: 7px;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 5px;
}

td .icons.tick {
    background: #32bea6;
    cursor: pointer;
}

td .icons.trash {
    background: #ed5564;
    cursor: pointer;
}

td .icons.edit {
    background: #4BB2F2;
    cursor: pointer;
}


.buttonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.paginationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.paginationWrapper p {
    font-size: 16px;

}

.paginationWrapper .iconBox{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.paginationWrapper .iconBox svg {
    margin: 0 1rem;
    
    color: #444;
    height: 30px;
    width: 30px;
 



}

@media (max-width: 930px) {
    .container {
        border: 2px solid red;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 1fr;
        overflow: scroll;
        gap: 1rem;
    }

    .rightBottom {
        margin-bottom: 2rem;
    }

    .userRightSection {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr;
    }

    .userRightSection .rightTop {
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

}

@media (max-width: 1610px) {
    .appointments .wrapper2 {
        justify-content: center;
    }

}