.container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 1rem;
    width: 100%;
    /* Optional: max width for the container */
    margin: 0 auto;
    /* Center the container */
    justify-content: center;
    align-items: center;
    grid-auto-columns: auto
        /* This allows items to fill gaps */
}

p.header {
    text-align: center;
    font-size: 15px;
    ;
}
