@import url('./../../App.css');

.container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    gap: 2rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    grid-auto-columns: auto;
}

p.header {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.no--available {
    width: 100%;
    margin: 0px auto;
    /* border: 1px solid red; */
    width: 100%;
}

@media (min-width:768px) {
    /* .pagination__wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 80vw;
    } */

}

@media (min-width:601px) and (max-width:767px) {
    p.header {
        padding-top: 0;
    }
}

@media (min-width:375px) and (max-width:600px) {
    p.header {
        padding-top: 20px;
    }
}