.container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 5rem;
    width: 100%;
    /* Optional: max width for the container */
    margin: 1rem auto;
    /* Center the container */
    justify-content: center;
    align-items: center;
    grid-auto-columns: auto
        /* This allows items to fill gaps */
}

.header {
    text-align: center;
    margin: 1rem auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #444;
}