@import url('./../../App.css');

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 150px 1fr;
    /* border:1px solid red; */
    -webkit-animation: scaleUp .7s ease both;
    animation: scaleUp .7s ease both;
}


.wrapper.doctorInfo {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.picture {
    height: 120px;
    width: 120px;
    position: relative;
}

.picture img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    box-shadow: 0px 44px 34px -3px rgba(0, 0, 0, 0.4);
    background-color: transparent;

}

.doctor__name h2 {
    font-size: clamp(16px, 2.2vw, 22px);

}



@media (min-width:414px) and (max-width:767px) {
    .container {
        grid-template-columns: calc(100vw - 60px);

    }

    .wrapper.doctorInfo {
        gap: 3rem;
    }

    .picture img {
        height: 100px;
        width: 100px;
    }
}

@media (min-width:375px) and (max-width:413px) {
    .container {
        grid-template-columns: calc(100vw - 30px);

    }

    .wrapper.doctorInfo {
        gap: 2rem;
    }

    .picture img {
        height: 100px;
        width: 100px;
    }


}