.container {
    border-radius: 20px;
    margin: 100px 10px;
    padding-top: 10px;
    box-shadow: 1px -4px 68px -5px rgba(0, 0, 0, 0.55);
}

.navigation {
    /* border: 2px solid blue; */
    text-align: center;
}

@media (min-width:345px) and (max-width:767px) {
    .container {
        margin: 140px 10px;
    }

    .navigation h2 {
        font-size: 18px;
    }
}