@import url('./../../App.css');

.mainWrapper {
    position: relative;
    grid-template-columns: 1fr;
    -webkit-animation: scaleUp .7s ease both;
    animation: scaleUp .7s ease both;
    
}


.container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
    gap: 3rem;
    width: 100%;
    margin: 2rem auto;
    justify-content: center;
    grid-auto-columns: auto
        /* This allows items to fill gaps */
}

.headerWrapper {
    display: fixed;
}


.headerWrapper h2 {
    padding: 1rem 0;
    text-align: center;
}